# Data Analysis for OpenWeather API

## Objectif du projet : 

Ce projet à pour objectif de récupéré l'ensemble des données météorologique de toute les capitals de chaque pays du monde afin de les classer en fonction de leur facteur métérologique : Ville ou il fait le plus chaud, le plus froid, etc... 

Pour cela, nous allons récupéré des données issues de l'API OpenWeather.

### Install Dependancies :

In [32]:
! pip install requests pandas matplotlib seaborn

Requirement already satisfied: requests in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: pandas in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: seaborn in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from requests) (2024.12.14)
Requirement already satisfied: numpy>=1.26.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in /Users/morgan/Desktop/EFREI/M2/Datalakes and Data Integration II/Data-lake-project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import requests
import json
import os
import time
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Récupération des capitales avec l'API Rest Countries

In [24]:
rest_countries_url = "https://restcountries.com/v3.1/all?fields=name,capital"

In [25]:
def get_capitals():
    """
    Interroge l'API REST Countries pour récupérer la liste des capitales de chaque pays du monde.
    Exclut les pays sans capitale.
    """
    try:
        response = requests.get(rest_countries_url, timeout=10)
        response.raise_for_status()
        countries = response.json()

        # Extraire les capitales
        capitals = []
        for country in countries:
            name = country.get('name', {}).get('common', 'Unknown Country')
            capital_list = country.get('capital', [])
            if capital_list:  # Vérifie que la liste des capitales n'est pas vide
                capitals.append({"country": name, "city": capital_list[0]})

        print("\nNombre total de capitales capturées:", len(capitals))
        return capitals

    except requests.exceptions.RequestException as e:
        print(f"Erreur lors de l'interrogation de l'API REST Countries : {e}")
        return []

In [26]:
get_capitals()

Nombre total de capitales capturées: 246

[{'country': 'South Georgia', 'city': 'King Edward Point'},
 {'country': 'Grenada', 'city': "St. George's"},
 {'country': 'Switzerland', 'city': 'Bern'},
 {'country': 'Sierra Leone', 'city': 'Freetown'},
 {'country': 'Hungary', 'city': 'Budapest'},
 {'country': 'Taiwan', 'city': 'Taipei'},
 {'country': 'Wallis and Futuna', 'city': 'Mata-Utu'},
 {'country': 'Barbados', 'city': 'Bridgetown'},
 {'country': 'Pitcairn Islands', 'city': 'Adamstown'},
 {'country': 'Ivory Coast', 'city': 'Yamoussoukro'},
 {'country': 'Tunisia', 'city': 'Tunis'},
 {'country': 'Italy', 'city': 'Rome'},
 {'country': 'Benin', 'city': 'Porto-Novo'},
 {'country': 'Indonesia', 'city': 'Jakarta'},
 {'country': 'Cape Verde', 'city': 'Praia'},
 {'country': 'Saint Kitts and Nevis', 'city': 'Basseterre'},
 {'country': 'Laos', 'city': 'Vientiane'},
 {'country': 'Caribbean Netherlands', 'city': 'Kralendijk'},
 {'country': 'Uganda', 'city': 'Kampala'},
 {'country': 'Andorra', 'city': 'Andorra la Vella'},
 {'country': 'Burundi', 'city': 'Gitega'},
 {'country': 'South Africa', 'city': 'Pretoria'},
 {'country': 'France', 'city': 'Paris'},
 {'country': 'Libya', 'city': 'Tripoli'},
 {'country': 'Mexico', 'city': 'Mexico City'},
 {'country': 'Gabon', 'city': 'Libreville'},
 {'country': 'Northern Mariana Islands', 'city': 'Saipan'},
 {'country': 'North Macedonia', 'city': 'Skopje'},
 {'country': 'China', 'city': 'Beijing'},
 {'country': 'Yemen', 'city': "Sana'a"},
 {'country': 'Saint Barthélemy', 'city': 'Gustavia'},
 {'country': 'Guernsey', 'city': 'St. Peter Port'},
 {'country': 'Solomon Islands', 'city': 'Honiara'},
 {'country': 'Svalbard and Jan Mayen', 'city': 'Longyearbyen'},
 {'country': 'Faroe Islands', 'city': 'Tórshavn'},
 {'country': 'Uzbekistan', 'city': 'Tashkent'},
 {'country': 'Egypt', 'city': 'Cairo'},
 {'country': 'Senegal', 'city': 'Dakar'},
 {'country': 'Sri Lanka', 'city': 'Sri Jayawardenepura Kotte'},
 {'country': 'Palestine', 'city': 'Ramallah'},
 {'country': 'Bangladesh', 'city': 'Dhaka'},
 {'country': 'Peru', 'city': 'Lima'},
 {'country': 'Singapore', 'city': 'Singapore'},
 {'country': 'Turkey', 'city': 'Ankara'},
 {'country': 'Afghanistan', 'city': 'Kabul'},
 {'country': 'Aruba', 'city': 'Oranjestad'},
 {'country': 'Cook Islands', 'city': 'Avarua'},
 {'country': 'United Kingdom', 'city': 'London'},
 {'country': 'Zambia', 'city': 'Lusaka'},
 {'country': 'Finland', 'city': 'Helsinki'},
 {'country': 'Niger', 'city': 'Niamey'},
 {'country': 'Christmas Island', 'city': 'Flying Fish Cove'},
 {'country': 'Tokelau', 'city': 'Fakaofo'},
 {'country': 'Guinea-Bissau', 'city': 'Bissau'},
 {'country': 'Azerbaijan', 'city': 'Baku'},
 {'country': 'Réunion', 'city': 'Saint-Denis'},
 {'country': 'Djibouti', 'city': 'Djibouti'},
 {'country': 'North Korea', 'city': 'Pyongyang'},
 {'country': 'Mauritius', 'city': 'Port Louis'},
 {'country': 'Montserrat', 'city': 'Plymouth'},
 {'country': 'United States Virgin Islands', 'city': 'Charlotte Amalie'},
 {'country': 'Colombia', 'city': 'Bogotá'},
 {'country': 'Greece', 'city': 'Athens'},
 {'country': 'Croatia', 'city': 'Zagreb'},
 {'country': 'Morocco', 'city': 'Rabat'},
 {'country': 'Algeria', 'city': 'Algiers'},
 {'country': 'Netherlands', 'city': 'Amsterdam'},
 {'country': 'Sudan', 'city': 'Khartoum'},
 {'country': 'Fiji', 'city': 'Suva'},
 {'country': 'Liechtenstein', 'city': 'Vaduz'},
 {'country': 'Nepal', 'city': 'Kathmandu'},
 {'country': 'Puerto Rico', 'city': 'San Juan'},
 {'country': 'Georgia', 'city': 'Tbilisi'},
 {'country': 'Pakistan', 'city': 'Islamabad'},
 {'country': 'Monaco', 'city': 'Monaco'},
 {'country': 'Botswana', 'city': 'Gaborone'},
 {'country': 'Lebanon', 'city': 'Beirut'},
 {'country': 'Papua New Guinea', 'city': 'Port Moresby'},
 {'country': 'Mayotte', 'city': 'Mamoudzou'},
 {'country': 'Dominican Republic', 'city': 'Santo Domingo'},
 {'country': 'Norfolk Island', 'city': 'Kingston'},
 {'country': 'Qatar', 'city': 'Doha'},
 {'country': 'Madagascar', 'city': 'Antananarivo'},
 {'country': 'India', 'city': 'New Delhi'},
 {'country': 'Syria', 'city': 'Damascus'},
 {'country': 'Montenegro', 'city': 'Podgorica'},
 {'country': 'Eswatini', 'city': 'Mbabane'},
 {'country': 'Paraguay', 'city': 'Asunción'},
 {'country': 'El Salvador', 'city': 'San Salvador'},
 {'country': 'Ukraine', 'city': 'Kyiv'},
 {'country': 'Isle of Man', 'city': 'Douglas'},
 {'country': 'Namibia', 'city': 'Windhoek'},
 {'country': 'United Arab Emirates', 'city': 'Abu Dhabi'},
 {'country': 'Bulgaria', 'city': 'Sofia'},
 {'country': 'Greenland', 'city': 'Nuuk'},
 {'country': 'Germany', 'city': 'Berlin'},
 {'country': 'Cambodia', 'city': 'Phnom Penh'},
 {'country': 'Iraq', 'city': 'Baghdad'},
 {'country': 'French Southern and Antarctic Lands',
  'city': 'Port-aux-Français'},
 {'country': 'Sweden', 'city': 'Stockholm'},
 {'country': 'Cuba', 'city': 'Havana'},
 {'country': 'Kyrgyzstan', 'city': 'Bishkek'},
 {'country': 'Russia', 'city': 'Moscow'},
 {'country': 'Malaysia', 'city': 'Kuala Lumpur'},
 {'country': 'São Tomé and Príncipe', 'city': 'São Tomé'},
 {'country': 'Cyprus', 'city': 'Nicosia'},
 {'country': 'Canada', 'city': 'Ottawa'},
 {'country': 'Malawi', 'city': 'Lilongwe'},
 {'country': 'Saudi Arabia', 'city': 'Riyadh'},
 {'country': 'Bosnia and Herzegovina', 'city': 'Sarajevo'},
 {'country': 'Ethiopia', 'city': 'Addis Ababa'},
 {'country': 'Spain', 'city': 'Madrid'},
 {'country': 'Slovenia', 'city': 'Ljubljana'},
 {'country': 'Oman', 'city': 'Muscat'},
 {'country': 'Saint Pierre and Miquelon', 'city': 'Saint-Pierre'},
 {'country': 'San Marino', 'city': 'City of San Marino'},
 {'country': 'Lesotho', 'city': 'Maseru'},
 {'country': 'Marshall Islands', 'city': 'Majuro'},
 {'country': 'Sint Maarten', 'city': 'Philipsburg'},
 {'country': 'Iceland', 'city': 'Reykjavik'},
 {'country': 'Luxembourg', 'city': 'Luxembourg'},
 {'country': 'Argentina', 'city': 'Buenos Aires'},
 {'country': 'Turks and Caicos Islands', 'city': 'Cockburn Town'},
 {'country': 'Nauru', 'city': 'Yaren'},
 {'country': 'Cocos (Keeling) Islands', 'city': 'West Island'},
 {'country': 'Western Sahara', 'city': 'El Aaiún'},
 {'country': 'Dominica', 'city': 'Roseau'},
 {'country': 'Costa Rica', 'city': 'San José'},
 {'country': 'Australia', 'city': 'Canberra'},
 {'country': 'Thailand', 'city': 'Bangkok'},
 {'country': 'Haiti', 'city': 'Port-au-Prince'},
 {'country': 'Tuvalu', 'city': 'Funafuti'},
 {'country': 'Honduras', 'city': 'Tegucigalpa'},
 {'country': 'Equatorial Guinea', 'city': 'Malabo'},
 {'country': 'Saint Lucia', 'city': 'Castries'},
 {'country': 'French Polynesia', 'city': 'Papeetē'},
 {'country': 'Belarus', 'city': 'Minsk'},
 {'country': 'Latvia', 'city': 'Riga'},
 {'country': 'Palau', 'city': 'Ngerulmud'},
 {'country': 'Guadeloupe', 'city': 'Basse-Terre'},
 {'country': 'Philippines', 'city': 'Manila'},
 {'country': 'Gibraltar', 'city': 'Gibraltar'},
 {'country': 'Denmark', 'city': 'Copenhagen'},
 {'country': 'Cameroon', 'city': 'Yaoundé'},
 {'country': 'Guinea', 'city': 'Conakry'},
 {'country': 'Bahrain', 'city': 'Manama'},
 {'country': 'Suriname', 'city': 'Paramaribo'},
 {'country': 'DR Congo', 'city': 'Kinshasa'},
 {'country': 'Somalia', 'city': 'Mogadishu'},
 {'country': 'Czechia', 'city': 'Prague'},
 {'country': 'New Caledonia', 'city': 'Nouméa'},
 {'country': 'Vanuatu', 'city': 'Port Vila'},
 {'country': 'Saint Helena, Ascension and Tristan da Cunha',
  'city': 'Jamestown'},
 {'country': 'Togo', 'city': 'Lomé'},
 {'country': 'British Virgin Islands', 'city': 'Road Town'},
 {'country': 'Kenya', 'city': 'Nairobi'},
 {'country': 'Niue', 'city': 'Alofi'},
 {'country': 'Rwanda', 'city': 'Kigali'},
 {'country': 'Estonia', 'city': 'Tallinn'},
 {'country': 'Romania', 'city': 'Bucharest'},
 {'country': 'Trinidad and Tobago', 'city': 'Port of Spain'},
 {'country': 'Guyana', 'city': 'Georgetown'},
 {'country': 'Timor-Leste', 'city': 'Dili'},
 {'country': 'Vietnam', 'city': 'Hanoi'},
 {'country': 'Uruguay', 'city': 'Montevideo'},
 {'country': 'Vatican City', 'city': 'Vatican City'},
 {'country': 'Hong Kong', 'city': 'City of Victoria'},
 {'country': 'Austria', 'city': 'Vienna'},
 {'country': 'Antigua and Barbuda', 'city': "Saint John's"},
 {'country': 'Turkmenistan', 'city': 'Ashgabat'},
 {'country': 'Mozambique', 'city': 'Maputo'},
 {'country': 'Panama', 'city': 'Panama City'},
 {'country': 'Micronesia', 'city': 'Palikir'},
 {'country': 'Ireland', 'city': 'Dublin'},
 {'country': 'Curaçao', 'city': 'Willemstad'},
 {'country': 'French Guiana', 'city': 'Cayenne'},
 {'country': 'Norway', 'city': 'Oslo'},
 {'country': 'Åland Islands', 'city': 'Mariehamn'},
 {'country': 'Central African Republic', 'city': 'Bangui'},
 {'country': 'Burkina Faso', 'city': 'Ouagadougou'},
 {'country': 'Eritrea', 'city': 'Asmara'},
 {'country': 'Tanzania', 'city': 'Dodoma'},
 {'country': 'South Korea', 'city': 'Seoul'},
 {'country': 'Jordan', 'city': 'Amman'},
 {'country': 'Mauritania', 'city': 'Nouakchott'},
 {'country': 'Lithuania', 'city': 'Vilnius'},
 {'country': 'United States Minor Outlying Islands', 'city': 'Washington DC'},
 {'country': 'Slovakia', 'city': 'Bratislava'},
 {'country': 'Angola', 'city': 'Luanda'},
 {'country': 'Kazakhstan', 'city': 'Nur-Sultan'},
 {'country': 'Moldova', 'city': 'Chișinău'},
 {'country': 'Mali', 'city': 'Bamako'},
 {'country': 'Falkland Islands', 'city': 'Stanley'},
 {'country': 'Armenia', 'city': 'Yerevan'},
 {'country': 'Samoa', 'city': 'Apia'},
 {'country': 'Jersey', 'city': 'Saint Helier'},
 {'country': 'Japan', 'city': 'Tokyo'},
 {'country': 'Bolivia', 'city': 'Sucre'},
 {'country': 'Chile', 'city': 'Santiago'},
 {'country': 'United States', 'city': 'Washington, D.C.'},
 {'country': 'Saint Vincent and the Grenadines', 'city': 'Kingstown'},
 {'country': 'Bermuda', 'city': 'Hamilton'},
 {'country': 'Seychelles', 'city': 'Victoria'},
 {'country': 'British Indian Ocean Territory', 'city': 'Diego Garcia'},
 {'country': 'Guatemala', 'city': 'Guatemala City'},
 {'country': 'Ecuador', 'city': 'Quito'},
 {'country': 'Martinique', 'city': 'Fort-de-France'},
 {'country': 'Tajikistan', 'city': 'Dushanbe'},
 {'country': 'Malta', 'city': 'Valletta'},
 {'country': 'Gambia', 'city': 'Banjul'},
 {'country': 'Nigeria', 'city': 'Abuja'},
 {'country': 'Bahamas', 'city': 'Nassau'},
 {'country': 'Kosovo', 'city': 'Pristina'},
 {'country': 'Kuwait', 'city': 'Kuwait City'},
 {'country': 'Maldives', 'city': 'Malé'},
 {'country': 'South Sudan', 'city': 'Juba'},
 {'country': 'Iran', 'city': 'Tehran'},
 {'country': 'Albania', 'city': 'Tirana'},
 {'country': 'Brazil', 'city': 'Brasília'},
 {'country': 'Serbia', 'city': 'Belgrade'},
 {'country': 'Belize', 'city': 'Belmopan'},
 {'country': 'Myanmar', 'city': 'Naypyidaw'},
 {'country': 'Bhutan', 'city': 'Thimphu'},
 {'country': 'Venezuela', 'city': 'Caracas'},
 {'country': 'Liberia', 'city': 'Monrovia'},
 {'country': 'Jamaica', 'city': 'Kingston'},
 {'country': 'Poland', 'city': 'Warsaw'},
 {'country': 'Cayman Islands', 'city': 'George Town'},
 {'country': 'Brunei', 'city': 'Bandar Seri Begawan'},
 {'country': 'Comoros', 'city': 'Moroni'},
 {'country': 'Guam', 'city': 'Hagåtña'},
 {'country': 'Tonga', 'city': "Nuku'alofa"},
 {'country': 'Kiribati', 'city': 'South Tarawa'},
 {'country': 'Ghana', 'city': 'Accra'},
 {'country': 'Chad', 'city': "N'Djamena"},
 {'country': 'Zimbabwe', 'city': 'Harare'},
 {'country': 'Saint Martin', 'city': 'Marigot'},
 {'country': 'Mongolia', 'city': 'Ulan Bator'},
 {'country': 'Portugal', 'city': 'Lisbon'},
 {'country': 'American Samoa', 'city': 'Pago Pago'},
 {'country': 'Republic of the Congo', 'city': 'Brazzaville'},
 {'country': 'Belgium', 'city': 'Brussels'},
 {'country': 'Israel', 'city': 'Jerusalem'},
 {'country': 'New Zealand', 'city': 'Wellington'},
 {'country': 'Nicaragua', 'city': 'Managua'},
 {'country': 'Anguilla', 'city': 'The Valley'}]

### Récupération des données :

In [27]:
# Clé API OpenWeather
api_key = "b022acb509eacae0875ded1afe41a527"

# URL de l'API OpenWeather
base_url = "https://api.openweathermap.org/data/2.5/weather"

In [28]:
# Fonction pour appeler l'API et récupérer les données météo
def fetch_weather_data(api_key, city):
    try:
        params = {"appid": api_key, "lang": "fr", "q": city}
        response = requests.get(base_url, params=params)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Erreur lors de l'appel à l'API pour {city} : {e}")
        return None

In [29]:
# Récupération des données pour toutes les capitales
def fetch_weather_for_all_capitals(api_key, capitals):
    weather_data = {}
    for capital in capitals:
        city = capital["city"]
        country = capital["country"]
        print(f"Récupération des données pour {city}, {country}...")
        
        data = fetch_weather_data(api_key, city)
        if data:
            weather_data[city] = data
        else:
            weather_data[city] = {"error": "Données non disponibles"}
        
        # Pause pour éviter de dépasser les limites de l'API
        time.sleep(1)
    return weather_data

In [31]:
all_weather_data = fetch_weather_for_all_capitals(api_key, capitals)

Récupération des données pour King Edward Point, South Georgia...
Erreur lors de l'appel à l'API pour King Edward Point : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=King+Edward+Point
Récupération des données pour St. George's, Grenada...
Récupération des données pour Bern, Switzerland...
Récupération des données pour Freetown, Sierra Leone...
Récupération des données pour Budapest, Hungary...
Récupération des données pour Taipei, Taiwan...
Récupération des données pour Mata-Utu, Wallis and Futuna...
Récupération des données pour Bridgetown, Barbados...
Récupération des données pour Adamstown, Pitcairn Islands...
Récupération des données pour Yamoussoukro, Ivory Coast...
Récupération des données pour Tunis, Tunisia...
Récupération des données pour Rome, Italy...
Récupération des données pour Porto-Novo, Benin...
Récupération des données pour Jakarta, Indonesia...
Récupération des données pour Praia, Cape Verde...
Récupération des données pour Basseterre, Saint Kitts and Nevis...
Récupération des données pour Vientiane, Laos...
Récupération des données pour Kralendijk, Caribbean Netherlands...
Récupération des données pour Kampala, Uganda...
Récupération des données pour Andorra la Vella, Andorra...
Récupération des données pour Gitega, Burundi...
Récupération des données pour Pretoria, South Africa...
Récupération des données pour Paris, France...
Récupération des données pour Tripoli, Libya...
Récupération des données pour Mexico City, Mexico...
Récupération des données pour Libreville, Gabon...
Récupération des données pour Saipan, Northern Mariana Islands...
Récupération des données pour Skopje, North Macedonia...
Récupération des données pour Beijing, China...
Récupération des données pour Sana'a, Yemen...
Récupération des données pour Gustavia, Saint Barthélemy...
Récupération des données pour St. Peter Port, Guernsey...
Erreur lors de l'appel à l'API pour St. Peter Port : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=St.+Peter+Port
Récupération des données pour Honiara, Solomon Islands...
Récupération des données pour Longyearbyen, Svalbard and Jan Mayen...
Récupération des données pour Tórshavn, Faroe Islands...
Récupération des données pour Tashkent, Uzbekistan...
Récupération des données pour Cairo, Egypt...
Récupération des données pour Dakar, Senegal...
Récupération des données pour Sri Jayawardenepura Kotte, Sri Lanka...
Récupération des données pour Ramallah, Palestine...
Récupération des données pour Dhaka, Bangladesh...
Récupération des données pour Lima, Peru...
Récupération des données pour Singapore, Singapore...
Récupération des données pour Ankara, Turkey...
Récupération des données pour Kabul, Afghanistan...
Récupération des données pour Oranjestad, Aruba...
Récupération des données pour Avarua, Cook Islands...
Récupération des données pour London, United Kingdom...
Récupération des données pour Lusaka, Zambia...
Récupération des données pour Helsinki, Finland...
Récupération des données pour Niamey, Niger...
Récupération des données pour Flying Fish Cove, Christmas Island...
Récupération des données pour Fakaofo, Tokelau...
Erreur lors de l'appel à l'API pour Fakaofo : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=Fakaofo
Récupération des données pour Bissau, Guinea-Bissau...
Récupération des données pour Baku, Azerbaijan...
Récupération des données pour Saint-Denis, Réunion...
Récupération des données pour Djibouti, Djibouti...
Récupération des données pour Pyongyang, North Korea...
Récupération des données pour Port Louis, Mauritius...
Récupération des données pour Plymouth, Montserrat...
Récupération des données pour Charlotte Amalie, United States Virgin Islands...
Récupération des données pour Bogotá, Colombia...
Récupération des données pour Athens, Greece...
Récupération des données pour Zagreb, Croatia...
Récupération des données pour Rabat, Morocco...
Récupération des données pour Algiers, Algeria...
Récupération des données pour Amsterdam, Netherlands...
Récupération des données pour Khartoum, Sudan...
Récupération des données pour Suva, Fiji...
Récupération des données pour Vaduz, Liechtenstein...
Récupération des données pour Kathmandu, Nepal...
Récupération des données pour San Juan, Puerto Rico...
Récupération des données pour Tbilisi, Georgia...
Récupération des données pour Islamabad, Pakistan...
Récupération des données pour Monaco, Monaco...
Récupération des données pour Gaborone, Botswana...
Récupération des données pour Beirut, Lebanon...
Récupération des données pour Port Moresby, Papua New Guinea...
Récupération des données pour Mamoudzou, Mayotte...
Récupération des données pour Santo Domingo, Dominican Republic...
Récupération des données pour Kingston, Norfolk Island...
Récupération des données pour Doha, Qatar...
Récupération des données pour Antananarivo, Madagascar...
Récupération des données pour New Delhi, India...
Récupération des données pour Damascus, Syria...
Récupération des données pour Podgorica, Montenegro...
Récupération des données pour Mbabane, Eswatini...
Récupération des données pour Asunción, Paraguay...
Récupération des données pour San Salvador, El Salvador...
Récupération des données pour Kyiv, Ukraine...
Récupération des données pour Douglas, Isle of Man...
Récupération des données pour Windhoek, Namibia...
Récupération des données pour Abu Dhabi, United Arab Emirates...
Récupération des données pour Sofia, Bulgaria...
Récupération des données pour Nuuk, Greenland...
Récupération des données pour Berlin, Germany...
Récupération des données pour Phnom Penh, Cambodia...
Récupération des données pour Baghdad, Iraq...
Récupération des données pour Port-aux-Français, French Southern and Antarctic Lands...
Récupération des données pour Stockholm, Sweden...
Récupération des données pour Havana, Cuba...
Récupération des données pour Bishkek, Kyrgyzstan...
Récupération des données pour Moscow, Russia...
Récupération des données pour Kuala Lumpur, Malaysia...
Récupération des données pour São Tomé, São Tomé and Príncipe...
Récupération des données pour Nicosia, Cyprus...
Récupération des données pour Ottawa, Canada...
Récupération des données pour Lilongwe, Malawi...
Récupération des données pour Riyadh, Saudi Arabia...
Récupération des données pour Sarajevo, Bosnia and Herzegovina...
Récupération des données pour Addis Ababa, Ethiopia...
Récupération des données pour Madrid, Spain...
Récupération des données pour Ljubljana, Slovenia...
Récupération des données pour Muscat, Oman...
Récupération des données pour Saint-Pierre, Saint Pierre and Miquelon...
Récupération des données pour City of San Marino, San Marino...
Récupération des données pour Maseru, Lesotho...
Récupération des données pour Majuro, Marshall Islands...
Récupération des données pour Philipsburg, Sint Maarten...
Récupération des données pour Reykjavik, Iceland...
Récupération des données pour Luxembourg, Luxembourg...
Récupération des données pour Buenos Aires, Argentina...
Récupération des données pour Cockburn Town, Turks and Caicos Islands...
Récupération des données pour Yaren, Nauru...
Récupération des données pour West Island, Cocos (Keeling) Islands...
Récupération des données pour El Aaiún, Western Sahara...
Récupération des données pour Roseau, Dominica...
Récupération des données pour San José, Costa Rica...
Récupération des données pour Canberra, Australia...
Récupération des données pour Bangkok, Thailand...
Récupération des données pour Port-au-Prince, Haiti...
Récupération des données pour Funafuti, Tuvalu...
Récupération des données pour Tegucigalpa, Honduras...
Récupération des données pour Malabo, Equatorial Guinea...
Récupération des données pour Castries, Saint Lucia...
Récupération des données pour Papeetē, French Polynesia...
Erreur lors de l'appel à l'API pour Papeetē : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=Papeet%C4%93
Récupération des données pour Minsk, Belarus...
Récupération des données pour Riga, Latvia...
Récupération des données pour Ngerulmud, Palau...
Erreur lors de l'appel à l'API pour Ngerulmud : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=Ngerulmud
Récupération des données pour Basse-Terre, Guadeloupe...
Récupération des données pour Manila, Philippines...
Récupération des données pour Gibraltar, Gibraltar...
Récupération des données pour Copenhagen, Denmark...
Récupération des données pour Yaoundé, Cameroon...
Récupération des données pour Conakry, Guinea...
Récupération des données pour Manama, Bahrain...
Récupération des données pour Paramaribo, Suriname...
Récupération des données pour Kinshasa, DR Congo...
Récupération des données pour Mogadishu, Somalia...
Récupération des données pour Prague, Czechia...
Récupération des données pour Nouméa, New Caledonia...
Récupération des données pour Port Vila, Vanuatu...
Récupération des données pour Jamestown, Saint Helena, Ascension and Tristan da Cunha...
Récupération des données pour Lomé, Togo...
Récupération des données pour Road Town, British Virgin Islands...
Récupération des données pour Nairobi, Kenya...
Récupération des données pour Alofi, Niue...
Récupération des données pour Kigali, Rwanda...
Récupération des données pour Tallinn, Estonia...
Récupération des données pour Bucharest, Romania...
Récupération des données pour Port of Spain, Trinidad and Tobago...
Récupération des données pour Georgetown, Guyana...
Récupération des données pour Dili, Timor-Leste...
Récupération des données pour Hanoi, Vietnam...
Récupération des données pour Montevideo, Uruguay...
Récupération des données pour Vatican City, Vatican City...
Récupération des données pour City of Victoria, Hong Kong...
Récupération des données pour Vienna, Austria...
Récupération des données pour Saint John's, Antigua and Barbuda...
Récupération des données pour Ashgabat, Turkmenistan...
Récupération des données pour Maputo, Mozambique...
Récupération des données pour Panama City, Panama...
Récupération des données pour Palikir, Micronesia...
Récupération des données pour Dublin, Ireland...
Récupération des données pour Willemstad, Curaçao...
Récupération des données pour Cayenne, French Guiana...
Récupération des données pour Oslo, Norway...
Récupération des données pour Mariehamn, Åland Islands...
Récupération des données pour Bangui, Central African Republic...
Récupération des données pour Ouagadougou, Burkina Faso...
Récupération des données pour Asmara, Eritrea...
Récupération des données pour Dodoma, Tanzania...
Récupération des données pour Seoul, South Korea...
Récupération des données pour Amman, Jordan...
Récupération des données pour Nouakchott, Mauritania...
Récupération des données pour Vilnius, Lithuania...
Récupération des données pour Washington DC, United States Minor Outlying Islands...
Récupération des données pour Bratislava, Slovakia...
Récupération des données pour Luanda, Angola...
Récupération des données pour Nur-Sultan, Kazakhstan...
Récupération des données pour Chișinău, Moldova...
Récupération des données pour Bamako, Mali...
Récupération des données pour Stanley, Falkland Islands...
Récupération des données pour Yerevan, Armenia...
Récupération des données pour Apia, Samoa...
Récupération des données pour Saint Helier, Jersey...
Récupération des données pour Tokyo, Japan...
Récupération des données pour Sucre, Bolivia...
Récupération des données pour Santiago, Chile...
Récupération des données pour Washington, D.C., United States...
Récupération des données pour Kingstown, Saint Vincent and the Grenadines...
Récupération des données pour Hamilton, Bermuda...
Récupération des données pour Victoria, Seychelles...
Récupération des données pour Diego Garcia, British Indian Ocean Territory...
Erreur lors de l'appel à l'API pour Diego Garcia : 404 Client Error: Not Found for url: https://api.openweathermap.org/data/2.5/weather?appid=b022acb509eacae0875ded1afe41a527&lang=fr&q=Diego+Garcia
Récupération des données pour Guatemala City, Guatemala...
Récupération des données pour Quito, Ecuador...
Récupération des données pour Fort-de-France, Martinique...
Récupération des données pour Dushanbe, Tajikistan...
Récupération des données pour Valletta, Malta...
Récupération des données pour Banjul, Gambia...
Récupération des données pour Abuja, Nigeria...
Récupération des données pour Nassau, Bahamas...
Récupération des données pour Pristina, Kosovo...
Récupération des données pour Kuwait City, Kuwait...
Récupération des données pour Malé, Maldives...
Récupération des données pour Juba, South Sudan...
Récupération des données pour Tehran, Iran...
Récupération des données pour Tirana, Albania...
Récupération des données pour Brasília, Brazil...
Récupération des données pour Belgrade, Serbia...
Récupération des données pour Belmopan, Belize...
Récupération des données pour Naypyidaw, Myanmar...
Récupération des données pour Thimphu, Bhutan...
Récupération des données pour Caracas, Venezuela...
Récupération des données pour Monrovia, Liberia...
Récupération des données pour Kingston, Jamaica...
Récupération des données pour Warsaw, Poland...
Récupération des données pour George Town, Cayman Islands...
Récupération des données pour Bandar Seri Begawan, Brunei...
Récupération des données pour Moroni, Comoros...
Récupération des données pour Hagåtña, Guam...
Récupération des données pour Nuku'alofa, Tonga...
Récupération des données pour South Tarawa, Kiribati...
Récupération des données pour Accra, Ghana...
Récupération des données pour N'Djamena, Chad...
Récupération des données pour Harare, Zimbabwe...
Récupération des données pour Marigot, Saint Martin...
Récupération des données pour Ulan Bator, Mongolia...
Récupération des données pour Lisbon, Portugal...
Récupération des données pour Pago Pago, American Samoa...
Récupération des données pour Brazzaville, Republic of the Congo...
Récupération des données pour Brussels, Belgium...
Récupération des données pour Jerusalem, Israel...
Récupération des données pour Wellington, New Zealand...
Récupération des données pour Managua, Nicaragua...
Récupération des données pour The Valley, Anguilla...

In [32]:
# Appeler la fonction pour Paris
city = "Paris"
print(f"Récupération des données météo pour {city}...")
paris_weather_data = fetch_weather_data(api_key, city)

# Afficher toutes les données JSON pour Paris
if paris_weather_data:
    print(f"Données météo complètes pour {city} :")
    print(json.dumps(paris_weather_data, indent=4, ensure_ascii=False))
else:
    print(f"Données météo pour {city} non disponibles.")

Récupération des données météo pour Paris...
Données météo complètes pour Paris :
{
    "coord": {
        "lon": 2.3488,
        "lat": 48.8534
    },
    "weather": [
        {
            "id": 701,
            "main": "Mist",
            "description": "brume",
            "icon": "50n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 272.4,
        "feels_like": 269.74,
        "temp_min": 271.58,
        "temp_max": 273.19,
        "pressure": 1019,
        "humidity": 96,
        "sea_level": 1019,
        "grnd_level": 1009
    },
    "visibility": 2900,
    "wind": {
        "speed": 2.06,
        "deg": 60
    },
    "clouds": {
        "all": 100
    },
    "dt": 1737405872,
    "sys": {
        "type": 2,
        "id": 2012208,
        "country": "FR",
        "sunrise": 1737358471,
        "sunset": 1737390504
    },
    "timezone": 3600,
    "id": 2988507,
    "name": "Paris",
    "cod": 200
}

### Unités des champs JSON de l'API OpenWeather

Les champs et leurs unités associées récupérés depuis l'API OpenWeather sont listés ci-dessous :

#### Coordonnées géographiques
- **`coord.lon`** : degrés (longitude)  
- **`coord.lat`** : degrés (latitude)

#### Conditions météorologiques
- **`weather.id`** : sans unité (identifiant de la condition météorologique)  
- **`weather.main`** : sans unité (groupe de paramètres météorologiques)  
- **`weather.description`** : sans unité (description de la condition météorologique)  
- **`weather.icon`** : sans unité (identifiant de l'icône météo)

#### Données principales
- **`main.temp`** : Kelvin (température)  
- **`main.feels_like`** : Kelvin (température ressentie)  
- **`main.temp_min`** : Kelvin (température minimale)  
- **`main.temp_max`** : Kelvin (température maximale)  
- **`main.pressure`** : hPa (pression atmosphérique au niveau de la mer)  
- **`main.humidity`** : % (humidité)  
- **`main.sea_level`** : hPa (pression atmosphérique au niveau de la mer)  
- **`main.grnd_level`** : hPa (pression atmosphérique au niveau du sol)

#### Visibilité et vent
- **`visibility`** : mètres (visibilité)  
- **`wind.speed`** : mètres/sec (vitesse du vent)  
- **`wind.deg`** : degrés (direction du vent)

#### Nébulosité
- **`clouds.all`** : % (nébulosité)

#### Date et heure
- **`dt`** : UNIX timestamp (date et heure de calcul des données)

#### Informations système
- **`sys.type`** : sans unité (type de la station météorologique)  
- **`sys.id`** : sans unité (identifiant de la station météorologique)  
- **`sys.country`** : sans unité (code pays)  
- **`sys.sunrise`** : UNIX timestamp (heure du lever du soleil)  
- **`sys.sunset`** : UNIX timestamp (heure du coucher du soleil)

#### Fuseau horaire
- **`timezone`** : secondes (décalage horaire par rapport à UTC)

#### Informations sur la ville
- **`id`** : sans unité (identifiant de la ville)  
- **`name`** : sans unité (nom de la ville)

#### Code de réponse
- **`cod`** : sans unité (code de réponse HTTP)

---

### Remarque

Les unités par défaut peuvent être modifiées via le paramètre **`units`** dans l’appel API pour :
- Obtenir les températures en Celsius : **`units=metric`**  
- Obtenir les températures en Fahrenheit et la vitesse du vent en miles/heure : **`units=imperial`**

### Convertion des données semi-structuré : JSON en structuré : DataFrame

In [33]:
def convert_weather_data_to_dataframe(weather_data, capitals):
    # Créer une liste vide pour stocker les données structurées
    structured_data = []

    # Parcourir les données météo de chaque ville
    for capital in capitals:
        city = capital["city"]
        country = capital["country"]
        data = weather_data.get(city, {})

        if "error" in data:
            print(f"Données non disponibles pour {city}, {country}.")
            continue

        # Extraire les informations nécessaires avec gestion des clés manquantes
        structured_data.append({
            "country": country,
            "city": city,
            "id": data.get("id"),
            "lon": data.get("coord", {}).get("lon"),
            "lat": data.get("coord", {}).get("lat"),
            "base": data.get("base"),
            "main": data.get("weather", [{}])[0].get("main"),
            "description": data.get("weather", [{}])[0].get("description"),
            "temp": data.get("main", {}).get("temp"),
            "feels_like": data.get("main", {}).get("feels_like"),
            "temp_min": data.get("main", {}).get("temp_min"),
            "tem_max": data.get("main", {}).get("temp_max"),
            "pressure": data.get("main", {}).get("pressure"),
            "humidity": data.get("main", {}).get("humidity"),
            "sea_level": data.get("main", {}).get("sea_level"),
            "grnd_level": data.get("main", {}).get("grnd_level"),
            "visibility": data.get("visibility"),
            "speed": data.get("wind", {}).get("speed"),
            "deg": data.get("wind", {}).get("deg"),
            "clouds": data.get("clouds", {}).get("all"),
            "dt": data.get("dt"),
            "sunrise": data.get("sys", {}).get("sunrise"),
            "sunset": data.get("sys", {}).get("sunset"),
            "timezone": data.get("timezone"),
            "cod": data.get("cod")
        })

    # Convertir les données structurées en DataFrame
    df = pd.DataFrame(structured_data)
    return df

In [34]:
# Convertir les données collectées en DataFrame
df_weather = convert_weather_data_to_dataframe(all_weather_data, capitals)

Données non disponibles pour King Edward Point, South Georgia.
Données non disponibles pour St. Peter Port, Guernsey.
Données non disponibles pour Fakaofo, Tokelau.
Données non disponibles pour Papeetē, French Polynesia.
Données non disponibles pour Ngerulmud, Palau.
Données non disponibles pour Diego Garcia, British Indian Ocean Territory.

In [35]:
df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,peu nuageux,302.97,307.75,...,1008,10000,7.20,100,20,1737403056,1737369129,1737410619,-14400,200
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clouds,couvert,271.74,271.74,...,945,9000,0.51,0,87,1737403058,1737356858,1737389669,3600,200
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Haze,brume sèche,299.99,302.37,...,1005,6000,5.14,210,0,1737403059,1737357162,1737399292,0,200
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clouds,couvert,271.49,268.68,...,1003,6000,2.06,110,100,1737402978,1737354186,1737386775,3600,200
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clear,ciel dégagé,289.08,287.98,...,999,10000,3.13,100,6,1737403037,1737412800,1737451790,28800,200

In [36]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      240 non-null    object
 1   city         240 non-null    object
 2   id           240 non-null    int64
 3   lon          240 non-null    float64
 4   lat          240 non-null    float64
 5   base         240 non-null    object
 6   main         240 non-null    object
 7   description  240 non-null    object
 8   temp         240 non-null    float64
 9   feels_like   240 non-null    float64
 10  temp_min     240 non-null    float64
 11  tem_max      240 non-null    float64
 12  pressure     240 non-null    int64
 13  humidity     240 non-null    int64
 14  sea_level    240 non-null    int64
 15  grnd_level   240 non-null    int64
 16  visibility   240 non-null    int64
 17  speed        240 non-null    float64
 18  deg          240 non-null    int64
 19  clouds       240 non-null    int64
 20  dt           240 non-null    int64
 21  sunrise      240 non-null    int64
 22  sunset       240 non-null    int64
 23  timezone     240 non-null    int64
 24  cod          240 non-null    int64
dtypes: float64(7), int64(13), object(5)
memory usage: 47.0+ KB

In [37]:
df_weather.describe()

,id,lon,lat,temp,feels_like,temp_min,tem_max,pressure,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
count,2.400000e+02,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,2.400000e+02,2.400000e+02,2.400000e+02,240.000000,240.0
mean,2.499525e+06,12.490642,18.854052,288.781167,288.597125,288.446375,289.082542,1016.341667,72.525000,1016.341667,974.208333,9024.695833,3.515333,139.995833,46.766667,1.737403e+09,1.730133e+09,1.730172e+09,5223.750000,200.0
std,1.651845e+06,73.888524,25.107127,12.446014,14.565741,12.583943,12.357650,6.566041,19.226447,6.566041,64.019531,2165.998919,2.546528,105.677432,38.450040,1.316981e+02,1.121469e+08,1.121494e+08,17620.157084,0.0
min,5.365400e+04,-176.174500,-49.350000,248.220000,248.220000,248.220000,248.220000,997.000000,11.000000,997.000000,699.000000,200.000000,0.000000,0.000000,0.000000,1.737403e+09,0.000000e+00,0.000000e+00,-39600.000000,200.0
25%,1.156250e+06,-53.323650,4.097775,277.337500,275.802500,276.887500,277.442500,1011.750000,64.000000,1011.750000,963.500000,10000.000000,1.540000,60.000000,12.000000,1.737403e+09,1.737352e+09,1.737388e+09,-8100.000000,200.0
50%,2.390970e+06,16.174800,17.997000,291.815000,291.510000,291.815000,292.250000,1015.000000,77.000000,1015.000000,1005.000000,10000.000000,2.780000,109.000000,40.000000,1.737403e+09,1.737360e+09,1.737399e+09,3600.000000,200.0
75%,3.536317e+06,47.646650,40.230250,300.062500,301.392500,300.002500,300.150000,1020.000000,88.000000,1020.000000,1011.000000,10000.000000,5.140000,230.000000,83.500000,1.737403e+09,1.737386e+09,1.737422e+09,14400.000000,200.0
max,8.224783e+06,179.194200,78.218600,306.940000,309.960000,306.940000,306.940000,1039.000000,100.000000,1039.000000,1028.000000,10000.000000,11.830000,360.000000,100.000000,1.737403e+09,1.737481e+09,1.737527e+09,46800.000000,200.0

In [38]:
df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,grnd_level,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,peu nuageux,302.97,307.75,...,1008,10000,7.20,100,20,1737403056,1737369129,1737410619,-14400,200
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clouds,couvert,271.74,271.74,...,945,9000,0.51,0,87,1737403058,1737356858,1737389669,3600,200
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Haze,brume sèche,299.99,302.37,...,1005,6000,5.14,210,0,1737403059,1737357162,1737399292,0,200
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clouds,couvert,271.49,268.68,...,1003,6000,2.06,110,100,1737402978,1737354186,1737386775,3600,200
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clear,ciel dégagé,289.08,287.98,...,999,10000,3.13,100,6,1737403037,1737412800,1737451790,28800,200

### Analyse des données :

### Préparation des données :

Renomé le nom des colonnes poour plus de clarté.

supreesion des colonne: Location_ID, Data_source, Response_code

Convertir les timestamps UNIX au format ISO

Convertir la température en °C

Supprimer les doublons 

Calcule de nouvelle colonne : Daylight Duration, Temperature Difference, Indice de confort thermique

Supprimer les valeur nul / doublons si il y en a 

Standardisé les unité (Pressure (Pa, hPa) ou Wind_Speed (m/s, km/h) doivent être uniformisées.)

Ajouté une colonne Saison 

Filtrage des données par response code égale à 200.

#### Identifier les doublons :

In [39]:
duplicates = df_weather[df_weather.duplicated()]

# Afficher les doublons (s'ils existent)
if not duplicates.empty:
    print("Valeurs supprimées (doublons) :")
    print(duplicates)

# Supprimer les doublons du DataFrame principal
df_weather = df_weather.drop_duplicates()

#### Supprimer les lignes avec Response_Code différent de 200 :

In [40]:
rows_to_delete = df_weather[df_weather["cod"] != 200]
print("Lignes supprimées :")
print(rows_to_delete)

# Supprimer les lignes avec Response_Code différent de 200
df_weather = df_weather[df_weather["cod"] == 200]

Lignes supprimées :
Empty DataFrame
Columns: [country, city, id, lon, lat, base, main, description, temp, feels_like, temp_min, tem_max, pressure, humidity, sea_level, grnd_level, visibility, speed, deg, clouds, dt, sunrise, sunset, timezone, cod]
Index: []

[0 rows x 25 columns]

#### Ajouter une colonne local_datetime (date et heure locale) :

In [41]:
df_weather["local_datetime"] = pd.to_datetime(df_weather["dt"], unit='s') + pd.to_timedelta(df_weather["timezone"], unit='s')

df_weather.head()

,country,city,id,lon,lat,base,main,description,temp,feels_like,...,visibility,speed,deg,clouds,dt,sunrise,sunset,timezone,cod,local_datetime
0,Grenada,St. George's,3579925,-61.7485,12.0564,stations,Clouds,peu nuageux,302.97,307.75,...,10000,7.20,100,20,1737403056,1737369129,1737410619,-14400,200,2025-01-20 15:57:36
1,Switzerland,Bern,2661552,7.4474,46.9481,stations,Clouds,couvert,271.74,271.74,...,9000,0.51,0,87,1737403058,1737356858,1737389669,3600,200,2025-01-20 20:57:38
2,Sierra Leone,Freetown,2409306,-13.2299,8.4840,stations,Haze,brume sèche,299.99,302.37,...,6000,5.14,210,0,1737403059,1737357162,1737399292,0,200,2025-01-20 19:57:39
3,Hungary,Budapest,3054643,19.0399,47.4980,stations,Clouds,couvert,271.49,268.68,...,6000,2.06,110,100,1737402978,1737354186,1737386775,3600,200,2025-01-20 20:56:18
4,Taiwan,Taipei,1668341,121.5319,25.0478,stations,Clear,ciel dégagé,289.08,287.98,...,10000,3.13,100,6,1737403037,1737412800,1737451790,28800,200,2025-01-21 03:57:17

#### Supprimer les colonnes inutiles :

In [42]:
columns_to_drop = ["dt", "timezone","id", "base", "cod"]
df_weather = df_weather.drop(columns=columns_to_drop)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,302.97,307.75,302.97,302.97,...,70,1014,1008,10000,7.20,100,20,1737369129,1737410619,2025-01-20 15:57:36
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,271.74,271.74,271.10,273.98,...,92,1020,945,9000,0.51,0,87,1737356858,1737389669,2025-01-20 20:57:38
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,299.99,302.37,299.99,299.99,...,78,1011,1005,6000,5.14,210,0,1737357162,1737399292,2025-01-20 19:57:39
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,271.49,268.68,271.37,272.29,...,93,1026,1003,6000,2.06,110,100,1737354186,1737386775,2025-01-20 20:56:18
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,289.08,287.98,288.18,289.86,...,48,1019,999,10000,3.13,100,6,1737412800,1737451790,2025-01-21 03:57:17

#### Conversion des timestamps UNIX en format ISO 8601 :

In [43]:
for col in ["sunrise", "sunset"]:
    df_weather[col] = pd.to_datetime(df_weather[col], unit='s')

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,302.97,307.75,302.97,302.97,...,70,1014,1008,10000,7.20,100,20,2025-01-20 10:32:09,2025-01-20 22:03:39,2025-01-20 15:57:36
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,271.74,271.74,271.10,273.98,...,92,1020,945,9000,0.51,0,87,2025-01-20 07:07:38,2025-01-20 16:14:29,2025-01-20 20:57:38
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,299.99,302.37,299.99,299.99,...,78,1011,1005,6000,5.14,210,0,2025-01-20 07:12:42,2025-01-20 18:54:52,2025-01-20 19:57:39
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,271.49,268.68,271.37,272.29,...,93,1026,1003,6000,2.06,110,100,2025-01-20 06:23:06,2025-01-20 15:26:15,2025-01-20 20:56:18
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,289.08,287.98,288.18,289.86,...,48,1019,999,10000,3.13,100,6,2025-01-20 22:40:00,2025-01-21 09:29:50,2025-01-21 03:57:17

#### Conversion des températures de Kelvin en °C :

In [44]:
temperature_columns = ["temp", "feels_like", "temp_min", "tem_max"]
for col in temperature_columns:
    df_weather[col] = df_weather[col] - 273.15
    
df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,humidity,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,29.82,34.60,29.82,29.82,...,70,1014,1008,10000,7.20,100,20,2025-01-20 10:32:09,2025-01-20 22:03:39,2025-01-20 15:57:36
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,-1.41,-1.41,-2.05,0.83,...,92,1020,945,9000,0.51,0,87,2025-01-20 07:07:38,2025-01-20 16:14:29,2025-01-20 20:57:38
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,26.84,29.22,26.84,26.84,...,78,1011,1005,6000,5.14,210,0,2025-01-20 07:12:42,2025-01-20 18:54:52,2025-01-20 19:57:39
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,-1.66,-4.47,-1.78,-0.86,...,93,1026,1003,6000,2.06,110,100,2025-01-20 06:23:06,2025-01-20 15:26:15,2025-01-20 20:56:18
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,15.93,14.83,15.03,16.71,...,48,1019,999,10000,3.13,100,6,2025-01-20 22:40:00,2025-01-21 09:29:50,2025-01-21 03:57:17

#### Ajout de la durée du jour :

In [45]:
df_weather["daylight_duration"] = (df_weather["sunset"] - df_weather["sunrise"]).dt.total_seconds() / 3600

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,sea_level,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime,daylight_duration
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,29.82,34.60,29.82,29.82,...,1014,1008,10000,7.20,100,20,2025-01-20 10:32:09,2025-01-20 22:03:39,2025-01-20 15:57:36,11.525000
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,-1.41,-1.41,-2.05,0.83,...,1020,945,9000,0.51,0,87,2025-01-20 07:07:38,2025-01-20 16:14:29,2025-01-20 20:57:38,9.114167
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,26.84,29.22,26.84,26.84,...,1011,1005,6000,5.14,210,0,2025-01-20 07:12:42,2025-01-20 18:54:52,2025-01-20 19:57:39,11.702778
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,-1.66,-4.47,-1.78,-0.86,...,1026,1003,6000,2.06,110,100,2025-01-20 06:23:06,2025-01-20 15:26:15,2025-01-20 20:56:18,9.052500
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,15.93,14.83,15.03,16.71,...,1019,999,10000,3.13,100,6,2025-01-20 22:40:00,2025-01-21 09:29:50,2025-01-21 03:57:17,10.830556

#### Calcul de la différence de température :

In [46]:
df_weather["temperature_difference"] = (
    df_weather["tem_max"] - df_weather["temp_min"]
)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,grnd_level,visibility,speed,deg,clouds,sunrise,sunset,local_datetime,daylight_duration,temperature_difference
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,29.82,34.60,29.82,29.82,...,1008,10000,7.20,100,20,2025-01-20 10:32:09,2025-01-20 22:03:39,2025-01-20 15:57:36,11.525000,0.00
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,-1.41,-1.41,-2.05,0.83,...,945,9000,0.51,0,87,2025-01-20 07:07:38,2025-01-20 16:14:29,2025-01-20 20:57:38,9.114167,2.88
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,26.84,29.22,26.84,26.84,...,1005,6000,5.14,210,0,2025-01-20 07:12:42,2025-01-20 18:54:52,2025-01-20 19:57:39,11.702778,0.00
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,-1.66,-4.47,-1.78,-0.86,...,1003,6000,2.06,110,100,2025-01-20 06:23:06,2025-01-20 15:26:15,2025-01-20 20:56:18,9.052500,0.92
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,15.93,14.83,15.03,16.71,...,999,10000,3.13,100,6,2025-01-20 22:40:00,2025-01-21 09:29:50,2025-01-21 03:57:17,10.830556,1.68

#### Calcul de l'indice de confort thermique (simplifié) :

In [47]:
# Calcul de l'indice de confort thermique incluant l'effet de la vitesse du vent
df_weather["thermal_comfort_index"] = (
    df_weather["temp"] -  # Température ambiante
    (0.55 * (1 - (df_weather["humidity"] / 100)) * (df_weather["temp"] - 14.5)) -  # Effet de l'humidité
    (0.2 * df_weather["speed"])  # Effet du vent
)

# Afficher un aperçu des résultats
df_weather[["temp", "humidity", "speed", "thermal_comfort_index"]].head()

    temp  humidity  speed  thermal_comfort_index
0  29.82        70   7.20               25.85220
1  -1.41        92   0.51               -0.81196
2  26.84        78   5.14               24.31886
3  -1.66        93   2.06               -1.44984
4  15.93        48   3.13               14.89502

#### Ajout de la colonne Saison :

In [48]:
def get_season(date, lat):
    """
    Détermine la saison en fonction de la date et de la latitude.
    """
    day_of_year = date.timetuple().tm_yday  # Numéro du jour dans l'année

    if lat > 0:  # Hémisphère nord
        if 80 <= day_of_year < 172:  # 21 mars - 20 juin
            return "Spring"
        elif 172 <= day_of_year < 264:  # 21 juin - 20 septembre
            return "Summer"
        elif 264 <= day_of_year < 355:  # 21 septembre - 20 décembre
            return "Autumn"
        else:  # 21 décembre - 20 mars
            return "Winter"
    else:  # Hémisphère sud
        if 80 <= day_of_year < 172:  # 21 mars - 20 juin
            return "Autumn"
        elif 172 <= day_of_year < 264:  # 21 juin - 20 septembre
            return "Winter"
        elif 264 <= day_of_year < 355:  # 21 septembre - 20 décembre
            return "Spring"
        else:  # 21 décembre - 20 mars
            return "Summer"

# Appliquer la fonction pour créer la colonne "season"
df_weather["season"] = df_weather.apply(
    lambda row: get_season(row["local_datetime"], row["lat"]), axis=1
)

# Vérification des résultats
print(df_weather[["local_datetime", "lat", "season"]].head())

       local_datetime      lat  season
0 2025-01-20 15:57:36  12.0564  Winter
1 2025-01-20 20:57:38  46.9481  Winter
2 2025-01-20 19:57:39   8.4840  Winter
3 2025-01-20 20:56:18  47.4980  Winter
4 2025-01-21 03:57:17  25.0478  Winter

#### Ajout de catégories pour les températures :

In [49]:
def categorize_temperature(temp):
    if temp < 0:
        return "Very Cold"
    elif temp < 10:
        return "Cold"
    elif temp < 25:
        return "Moderate"
    else:
        return "Hot"

df_weather["temperature_category"] = df_weather["temp"].apply(categorize_temperature)

df_weather.head()

,country,city,lon,lat,main,description,temp,feels_like,temp_min,tem_max,...,deg,clouds,sunrise,sunset,local_datetime,daylight_duration,temperature_difference,thermal_comfort_index,season,temperature_category
0,Grenada,St. George's,-61.7485,12.0564,Clouds,peu nuageux,29.82,34.60,29.82,29.82,...,100,20,2025-01-20 10:32:09,2025-01-20 22:03:39,2025-01-20 15:57:36,11.525000,0.00,25.85220,Winter,Hot
1,Switzerland,Bern,7.4474,46.9481,Clouds,couvert,-1.41,-1.41,-2.05,0.83,...,0,87,2025-01-20 07:07:38,2025-01-20 16:14:29,2025-01-20 20:57:38,9.114167,2.88,-0.81196,Winter,Very Cold
2,Sierra Leone,Freetown,-13.2299,8.4840,Haze,brume sèche,26.84,29.22,26.84,26.84,...,210,0,2025-01-20 07:12:42,2025-01-20 18:54:52,2025-01-20 19:57:39,11.702778,0.00,24.31886,Winter,Hot
3,Hungary,Budapest,19.0399,47.4980,Clouds,couvert,-1.66,-4.47,-1.78,-0.86,...,110,100,2025-01-20 06:23:06,2025-01-20 15:26:15,2025-01-20 20:56:18,9.052500,0.92,-1.44984,Winter,Very Cold
4,Taiwan,Taipei,121.5319,25.0478,Clear,ciel dégagé,15.93,14.83,15.03,16.71,...,100,6,2025-01-20 22:40:00,2025-01-21 09:29:50,2025-01-21 03:57:17,10.830556,1.68,14.89502,Winter,Moderate

#### Renommer les colonnes avec leurs unités :

In [50]:
# Dictionnaire pour renommer les colonnes avec leurs unités
rename_columns = {
    "lon": "longitude",
    "lat": "latitude",
    "main": "weather_Condition",
    "description": "weather_description",
    "temp": "temperature",
    "feels_like": "feels_like_temperature",
    "temp_min": "min_temperature",
    "tem_max": "max_temperature",
    "sea_level": "sea_level_pressure",
    "grnd_level": "ground_level_pressure",
    "speed": "wind_Speed",
    "deg": "wind_direction",
    "clouds": "cloud_cover",
    "sunrise": "sunrise_time",
    "sunset": "sunset_time",
}

# Renommer les colonnes du DataFrame
df_weather.rename(columns=rename_columns, inplace=True)

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 240 non-null    object
 1   city                    240 non-null    object
 2   longitude               240 non-null    float64
 3   latitude                240 non-null    float64
 4   weather_Condition       240 non-null    object
 5   weather_description     240 non-null    object
 6   temperature             240 non-null    float64
 7   feels_like_temperature  240 non-null    float64
 8   min_temperature         240 non-null    float64
 9   max_temperature         240 non-null    float64
 10  pressure                240 non-null    int64
 11  humidity                240 non-null    int64
 12  sea_level_pressure      240 non-null    int64
 13  ground_level_pressure   240 non-null    int64
 14  visibility              240 non-null    int64
 15  wind_Speed              240 non-null    float64
 16  wind_direction          240 non-null    int64
 17  cloud_cover             240 non-null    int64
 18  sunrise_time            240 non-null    datetime64[ns]
 19  sunset_time             240 non-null    datetime64[ns]
 20  local_datetime          240 non-null    datetime64[ns]
 21  daylight_duration       240 non-null    float64
 22  temperature_difference  240 non-null    float64
 23  thermal_comfort_index   240 non-null    float64
 24  season                  240 non-null    object
 25  temperature_category    240 non-null    object
dtypes: datetime64[ns](3), float64(10), int64(7), object(6)
memory usage: 48.9+ KB

#### Trié l'ordre des colonnes :

In [51]:
# Liste des colonnes dans un ordre logique
column_order = [
    # Informations géographiques
    "country", "city", "longitude", "latitude",
    
    # Données météorologiques générales
    "weather_Condition", "weather_description",
    
    # Données relatives à la température
    "temperature","temperature_category", "feels_like_temperature", "min_temperature", "max_temperature",
    "temperature_difference", "thermal_comfort_index",
    
    # Données sur la pression et l'humidité
    "pressure", "sea_level_pressure", "ground_level_pressure", "humidity",
    
    # Données sur la visibilité et les vents
    "visibility", "wind_Speed", "wind_direction",
    
    # Données sur la nébulosité
    "cloud_cover",
    
    # Données temporelles
    "sunrise_time", "sunset_time", "daylight_duration", "local_datetime",
    
    # Informations dérivées
    "season"
]

# Réorganiser les colonnes
df_weather = df_weather[column_order]

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 240 non-null    object
 1   city                    240 non-null    object
 2   longitude               240 non-null    float64
 3   latitude                240 non-null    float64
 4   weather_Condition       240 non-null    object
 5   weather_description     240 non-null    object
 6   temperature             240 non-null    float64
 7   temperature_category    240 non-null    object
 8   feels_like_temperature  240 non-null    float64
 9   min_temperature         240 non-null    float64
 10  max_temperature         240 non-null    float64
 11  temperature_difference  240 non-null    float64
 12  thermal_comfort_index   240 non-null    float64
 13  pressure                240 non-null    int64
 14  sea_level_pressure      240 non-null    int64
 15  ground_level_pressure   240 non-null    int64
 16  humidity                240 non-null    int64
 17  visibility              240 non-null    int64
 18  wind_Speed              240 non-null    float64
 19  wind_direction          240 non-null    int64
 20  cloud_cover             240 non-null    int64
 21  sunrise_time            240 non-null    datetime64[ns]
 22  sunset_time             240 non-null    datetime64[ns]
 23  daylight_duration       240 non-null    float64
 24  local_datetime          240 non-null    datetime64[ns]
 25  season                  240 non-null    object
dtypes: datetime64[ns](3), float64(10), int64(7), object(6)
memory usage: 48.9+ KB